# Pengecekan struktur & sample data â€” MK SIRAMA V2.xlsx

Menampilkan: daftar sheet, kolom tiap sheet, dan 10 baris contoh data.

In [1]:
import pandas as pd
from pathlib import Path

# Path file: jalan dari sirama-checker atau dari root proyek
path = Path("030226 MK SIRAMA V2.xlsx")
if not path.exists():
    path = Path("sirama-checker/030226 MK SIRAMA V2.xlsx")

xl = pd.ExcelFile(path)

print("Jumlah sheet:", len(xl.sheet_names))
print("\nNama sheet:")
for i, name in enumerate(xl.sheet_names, 1):
    print(f"  {i}. {name}")

Jumlah sheet: 3

Nama sheet:
  1. Course
  2. Jadwal
  3. Dosen ALL

In [2]:
# Per sheet: kolom + 10 contoh baris
for sheet_name in xl.sheet_names:
    df = pd.read_excel(xl, sheet_name=sheet_name)
    print("=" * 60)
    print(f"SHEET: {sheet_name}")
    print("=" * 60)
    print(f"Kolom ({len(df.columns)}): {list(df.columns)}")
    print(f"\n10 contoh data (baris pertama):\n")
    display(df.head(10))
    print()

============================================================
SHEET: Course
============================================================
Kolom (19): ['UID', 'ID', 'MATA KULIAH', 'KODE KULIAH', 'KELAS', 'JENIS', 'SKS', 'KUOTA', 'SISA RESERVASI', 'SISA QUOTA', 'FIX', 'TIDAK FIX', 'DOSEN/TIM DOSEN', 'SEMESTER', 'TAHUN AKADEMIK', 'STATUS', 'PROGRAM STUDI', 'FAST TRACK', 'CEK JADWAL']

10 contoh data (baris pertama):

,UID,ID,MATA KULIAH,KODE KULIAH,KELAS,JENIS,SKS,KUOTA,SISA RESERVASI,SISA QUOTA,FIX,TIDAK FIX,DOSEN/TIM DOSEN,SEMESTER,TAHUN AKADEMIK,STATUS,PROGRAM STUDI,FAST TRACK,CEK JADWAL
0,OTOMASI INDUSTRI-IT-06-GAB,18454,OTOMASI INDUSTRI,CBK49BB3,IT-06-GAB,BLENDED,3,45,45,45,0,0,CAP,2,2526,AKTIF,S1 Teknologi Informasi - Kampus Surabaya,REGULER,NaN
1,AGAMA ISLAM-DB-04-05,18451,AGAMA ISLAM,UAKXACB2,DB-04-05,BLENDED,2,45,45,45,0,0,YWN,2,2526,AKTIF,S1 Bisnis Digital - Kampus Surabaya,REGULER,NaN
2,AGAMA ISLAM-DB-04-04,18450,AGAMA ISLAM,UAKXACB2,DB-04-04,BLENDED,2,45,45,45,0,0,YWN,2,2526,AKTIF,S1 Bisnis Digital - Kampus Surabaya,REGULER,NaN
3,AGAMA ISLAM-DB-04-03,18449,AGAMA ISLAM,UAKXACB2,DB-04-03,BLENDED,2,45,45,45,0,0,YWN,2,2526,AKTIF,S1 Bisnis Digital - Kampus Surabaya,REGULER,NaN
4,AGAMA ISLAM-DB-04-02,18448,AGAMA ISLAM,UAKXACB2,DB-04-02,BLENDED,2,45,45,45,0,0,YWN,2,2526,AKTIF,S1 Bisnis Digital - Kampus Surabaya,REGULER,NaN
5,AGAMA ISLAM-DB-04-01,18447,AGAMA ISLAM,UAKXACB2,DB-04-01,BLENDED,2,45,45,45,0,0,YWN,2,2526,AKTIF,S1 Bisnis Digital - Kampus Surabaya,REGULER,NaN
6,REKAYASA PROSES BISNIS-IS-06-05,18437,REKAYASA PROSES BISNIS,BBK2NAB3,IS-06-05,BLENDED,3,80,80,80,0,0,AQH,2,2526,AKTIF,S1 Sistem Informasi - Kampus Surabaya,REGULER,NaN
7,MERDEKA BELAJAR - MAGANG 7-LE-02-01,18436,MERDEKA BELAJAR - MAGANG 7,BZKXCEB2,LE-02-01,ONLINE,2,5,5,5,0,0,NSX,2,2526,AKTIF,S1 Teknik Logistik - Kampus Surabaya,REGULER,NaN
8,MERDEKA BELAJAR - MAGANG 5-LE-02-01,18435,MERDEKA BELAJAR - MAGANG 5,BZKXAEB3,LE-02-01,ONLINE,3,5,5,5,0,0,NSX,2,2526,AKTIF,S1 Teknik Logistik - Kampus Surabaya,REGULER,NaN
9,MERDEKA BELAJAR - MAGANG 3-LE-02-01,18434,MERDEKA BELAJAR - MAGANG 3,UHKXCEB5,LE-02-01,ONLINE,5,5,5,5,0,0,NSX,2,2526,AKTIF,S1 Teknik Logistik - Kampus Surabaya,REGULER,NaN

============================================================
SHEET: Jadwal
============================================================
Kolom (8): ['UID', 'HARI', 'SHIFT', 'RUANGAN', 'NAMA MATA KULIAH', 'KELAS', 'DOSEN', 'JENIS']

10 contoh data (baris pertama):

,UID,HARI,SHIFT,RUANGAN,NAMA MATA KULIAH,KELAS,DOSEN,JENIS
0,OTOMASI INDUSTRI-IT-06-GAB,RABU,13:30:00 - 16:30:00,KTT2.17,OTOMASI INDUSTRI,IT-06-GAB,CAP,TETAP
1,FISIKA DASAR 2-TI-08-02,KAMIS,15:30:00 - 19:30:00,KTT 1.27 B,FISIKA DASAR 2,TI-08-02,AUX,TETAP
2,ANALISIS PERANCANGAN SISTEM INFORMASI DAN BASI...,SENIN,13:30:00 - 16:30:00,KTT1.17,ANALISIS PERANCANGAN SISTEM INFORMASI DAN BASI...,IE-06-02,PAM,TETAP
3,PENGENDALIAN DAN PENJAMINAN MUTU-TI-07-03,SELASA,13:30:00 - 16:30:00,KTT 1.27 B,PENGENDALIAN DAN PENJAMINAN MUTU,TI-07-03,HKC,TETAP
4,PERILAKU ORGANISASI-TI-07-03,RABU,10:30:00 - 12:30:00,KTT 1.27 B,PERILAKU ORGANISASI,TI-07-03,WAY,TETAP
5,KESEHATAN DAN KESELAMATAN KERJA & LINGKUNGAN I...,RABU,09:30:00 - 12:30:00,KTT1.17,KESEHATAN DAN KESELAMATAN KERJA & LINGKUNGAN I...,IE-06-01,HKC,TETAP
6,AKUNTANSI BIAYA-TI-07-01,SENIN,14:30:00 - 17:30:00,KTT 1.27 B,AKUNTANSI BIAYA,TI-07-01,SSP,TETAP
7,AKUNTANSI BIAYA-TI-07-02,KAMIS,09:30:00 - 12:30:00,KTT1.17,AKUNTANSI BIAYA,TI-07-02,SSP,TETAP
8,PENELITIAN OPERASIONAL 2-TI-07-01,SENIN,06:30:00 - 09:30:00,KTT1.17,PENELITIAN OPERASIONAL 2,TI-07-01,PAM,TETAP
9,KIMIA DASAR 2-TI-08-01,SENIN,11:30:00 - 13:30:00,KTT1.17,KIMIA DASAR 2,TI-08-01,HKC,TETAP

============================================================
SHEET: Dosen ALL
============================================================
Kolom (2): ['KODE DOSEN', 'NAMA LENGKAP']

10 contoh data (baris pertama):

  KODE DOSEN           NAMA LENGKAP
0        NMF       A  AINUN MUFLIKA
1        AUE      ABDULLATIEF ZUHDY
2        BIE            ABIE BESMAN
3        ACP            ACEP MUSLIM
4        ADV         ADELIA SAVITRI
5        PDP  ADI PRADIPTA NARENDRA
6        ASB    ADINDA SABRINA SULI
7        NSF   ADISTI ANANDA YUSUFF
8        FNY        AGNES ARIEFIANY
9        GTO     AGUNG AUGUSTRIANTO