In [1]:
import pandas as pd
from pathlib import Path

# Path file: jalan dari sirama-checker atau dari root proyek
path = Path("030226 ruang kelas .xlsx")
if not path.exists():
    path = Path("sirama-checker/030226 ruang kelas .xlsx")

xl = pd.ExcelFile(path)

print("Jumlah sheet:", len(xl.sheet_names))
print("\nNama sheet:")
for i, name in enumerate(xl.sheet_names, 1):
    print(f"  {i}. {name}")

Jumlah sheet: 1

Nama sheet:
  1. ruang

In [2]:
# Per sheet: kolom + 10 contoh baris
for sheet_name in xl.sheet_names:
    df = pd.read_excel(xl, sheet_name=sheet_name)
    print("=" * 60)
    print(f"SHEET: {sheet_name}")
    print("=" * 60)
    print(f"Kolom ({len(df.columns)}): {list(df.columns)}")
    print(f"\n10 contoh data (baris pertama):\n")
    display(df.head(10))
    print()

============================================================
SHEET: ruang
============================================================
Kolom (4): ['id', 'nama_ruang', 'alias', 'tipe']

10 contoh data (baris pertama):

   id  nama_ruang         alias   tipe
0   1     KTT1.02           NaN  KELAS
1   2     KTT1.03           NaN  KELAS
2   3     KTT1.04           NaN  KELAS
3   4     KTT1.05           NaN  KELAS
4   5     KTT1.06           NaN  KELAS
5   6     KTT1.07           NaN  KELAS
6   7     KTT1.08           NaN  KELAS
7   8     KTT1.09           NaN  KELAS
8   9  KTT A-1.06  KELAS A-1.06  KELAS
9  10     KTT1.16           NaN  KELAS